# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\demo_space\demp_cloud\demo_server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
